$lightblue:#add8e6;
$blue:#6494ed;
$white:#fff;
nav {
	margin-top: 10px ;
	background-color: $lightblue;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.menu {
	display: flex;
}
.btn {
	width: 120px;
	height: 90px;
	font-family: sans-serif;
	cursor: pointer;
	p {
		margin: 0;
	}
	img {
		width: 55px;
		display: block;
		margin: auto;
	}
	&:hover {
		color:$white;
		background-color: $blue;
		transition: all 0.6s ease;
	}
	&:active {
		background-color: $lightblue;
		transition: all ease;
	}
}


#buscar {
	width: 70px;
	height: 65px;
	cursor: pointer;
	p {
		margin: 0px;
	}
	img {
		width: 30px;
		display: block;
		margin: auto;
	}
	&:hover {
		color: $white;
		background-color: #AAB7B8;
		border-radius: 10px;
		transition: all 0.6s ease;
	}
	&:active {
		background-color: #D5DBDB;
		transition: all ease;
	}
}
